<% content_for :header_tags do %>
  <%= stylesheet_link_tag '/plugin_assets/chili_presentations/stylesheets/forms' %>
<% end %>

<h2>Updating "<%= @presentation %>" presentation...</h2>


<% labelled_tabular_form_for :presentation, @presentation, :url => project_presentation_path(@project, @presentation), :html => {:method => :put, :id => 'presentation-upload', :class => 'tabular', :multipart => true} do |f| %>
  <div class="box">
    <%= render :partial => 'shared_form', :locals => {:f => f, :versions => @versions} %>
  </div>

  <%= f.submit "Save updates" %>
  or
  <%= link_to "Cancel", project_presentation_path(@project, @presentation) %>
<%- end %>
