<% content_for :header_tags do %>
  <%= stylesheet_link_tag '/plugin_assets/chili_presentations/stylesheets/presentations' %>
<% end %>

<div class="contextual">
  <%= link_to(l(:new_presentation_label), new_project_presentation_path(@project), :class => 'icon icon-add') if User.current.allowed_to?(:add_presentation, nil, :global => true) %>
</div>

<h2>Presentations (newest first)</h2>

<%- if @presentations.empty? %>
  <p class="nodata">
    No presentations uploaded yet!
    <%= link_to "Add one...", new_project_presentation_path(@project) if User.current.allowed_to?(:add_presentation, nil, :global => true) %>
  <p>
<%- else %>
  <ul class="presentations">
    <%- @presentations.each do |presentation| %>
      <li class="presentation">
      <h2>
        <%= link_to presentation.title, project_presentation_path(@project, presentation, :trailing_slash => true) %>
        <span class="manage-links">
            <%= link_to(l(:view_specific_presentation_label), project_presentation_path(@project, presentation, :trailing_slash => true), :class => 'icon icon-file presentation-show') if User.current.allowed_to?(:view_specific_presentation, nil, :global => true) %>
            <%= link_to(l(:edit_presentation_label), edit_project_presentation_path(@project, presentation), :class => 'icon icon-edit presentation-edit') if User.current.allowed_to?(:modify_presentations, nil, :global => true) %>
            <%= link_to(l(:delete_presentation_label), project_presentation_path(@project, presentation), :class => 'icon icon-del presentation-del', :confirm => l(:confirm_presentation_deletion), :method => :delete) if User.current.allowed_to?(:delete_presentation, nil, :global => true) %>
        </span>
      </h2>

        <p class="description"><%= presentation.description.blank? ? "(No description provided)" : presentation.description %></p>

        <dl>
          <dt>Uploaded on:</dt>
          <dd><%= h presentation.created_at.strftime("%d-%b-%Y") %></dd>
          <dt>Uploaded by:</dt>
          <dd><%= link_to presentation.user, user_path(presentation.user) %></dd>

          <%- if presentation.version %>
            <dt>Version:</dt>
            <dd><%= link_to presentation.version, project_version_path(@project, presentation.version) %></dd>
          <%- end %>

          <dt><label for="<%= presentation.to_param %>_link">Embed code:</label></dt>
          <dd>(for wiki pages, news items etc):</dd>
          <input type="text" id="<%= presentation.to_param %>_link" class="embed standard" value="<%= link_to_presentation_macro_markup(presentation) %>" />
        </dl>
      </li>
    <%- end %>
  </ul>
<%- end %>
