<% content_for :header_tags do %>
  <%= stylesheet_link_tag '/plugin_assets/chili_presentations/stylesheets/forms' %>
<% end %>

<h2>Upload project presentation...</h2>

<%= error_messages_for 'presentation' %>

<% labelled_tabular_form_for :presentation, @presentation, :url => project_presentations_path(@project), :html => {:id => 'presentation-upload', :class => 'tabular', :multipart => true} do |f| %>
  <div class="box">
    <%= render :partial => 'shared_form', :locals => {:f => f, :versions => @versions} %>

    <p>
      <%= f.file_field :contents, :label => 'Select file to upload', :required => true %>
    </p>
  </div>

  <input type="submit" value="Upload Presentation" />
  or
  <%= link_to "Cancel", project_presentations_path(@project) %>
<%- end %>
