<% content_for :header_tags do %>
  <%= stylesheet_link_tag '/plugin_assets/chili_presentations/stylesheets/presentations' %>
<% end %>

<div class="contextual">
  <%= link_to(l(:new_presentation_label), new_project_presentation_path(@project), :class => 'icon icon-add') if User.current.allowed_to?(:add_presentation, nil, :global => true) %>
  <%= link_to(l(:edit_presentation_label), edit_project_presentation_path(@project), :class => 'icon icon-edit presentation-edit') if User.current.allowed_to?(:modify_presentations, nil, :global => true) %>
  <%= link_to(l(:delete_presentation_label), project_presentation_path(@project), :class => 'icon icon-del presentation-del', :confirm => l(:confirm_presentation_deletion), :method => :delete) if User.current.allowed_to?(:delete_presentation, nil, :global => true) %>
</div>

<h2><%= @presentation.title.blank? ? l(:default_presentation_title) : @presentation.title %></h2>

<div class="single presentation">
  <div class="presentation-cell large" id="presentation_<%= @presentation.permalink %>"></div>
  <%- if gravatar_enabled? %>
  <%= link_to(gravatar(@presentation.user.mail), user_path(@presentation.user), :title => "Uploaded by #{@presentation.user.name}") %>
  <%- end %>
  <dl>
    <dt>Description:</dt>
    <dd><%= @presentation.description.blank? ? "(none provided)" : @presentation.description %></dd>

    <%- if !gravatar_enabled? %>
      <dt>Uploaded by:</dt>
      <dd><%= link_to @presentation.user, user_path(@presentation.user) %></dd>
    <%- end %>

    <%- if @presentation.version %>
      <dt>Release:</dt>
      <dd><%= link_to @presentation.version, project_version_path(@project, @presentation.version) %></dd>
    <%- end %>

    <dt><label for="<%= @presentation.title %>_link">presentation Link:</label></dt>
    <dd><input type="text" id="<%= @presentation.title %>_link" class="embed standard" value="<%= link_to_presentation_macro_markup(@presentation) %>" /></dd>
  </dl>
</div>
